<!DOCTYPE html>
<html>
    <head>
        <title>Scavenger Hunt</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/dontlookhere.css')}}">
        <link rel="script" href="{{url_for('static', filename='js/dontlookhere.js')}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <br/><br/><br/>
            <div class="typing">
                "A picture is worth more than a thousand words."
            </div>
            <br/>
            <div class="typing2">
                but sometimes words, or rather, sounds, are worth more than a thousand pictures.
            </div>
            <br/><br/><br/>
            <div class="audio">
                <audio controls>
                    <source src="{{url_for('static', filename='misc/steg_audio.mp3')}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </body>
</html>


