<!DOCTYPE html>
<html>
    <head>
        <title>Scavenger Hunt</title>
        <link rel="stylesheet" href="css/home.css">
        <link rel="script" href="js/home.js">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
        <div class="text">
            <h1>wassup bois.</h1>
            <h2>yall ready for a scavenger hunt?</h2>
            <p>it already started btw :)</p>   
        </div>
        <img src="images/home.png" alt="yoink" class="logo">

        <!--did i mention that i love robots? 😉-->
    </body>
</html>


