body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: white;
}

.typing {
    overflow: hidden;
    border-right: .05em solid rgb(0, 0, 0);
    font-size: 1.6rem;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(48, end) forwards, disappear 0s forwards;
    animation-delay: 0s, 2s;
}

.typing2 {
    overflow: hidden;
    font-size: 1.6rem;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(80, end) forwards, blink 1s infinite;
    animation-delay: 2s;
}

.container {
    display: inline-block;
}

.audio {
    opacity: 0;
    animation: fadein 3s forwards;
    animation-delay: 5s;
}

#hint {
    opacity: 0;
}

@keyframes typing {
    from { 
        width: 0; 
        border-right: .05em solid rgb(0, 0, 0) 
    }
    to { 
        width: 100%;
        border-right: .05em solid rgb(0, 0, 0) 
    }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: rgb(0, 0, 0) }
}

@keyframes disappear {
    from { border-right: .05em solid rgb(0, 0, 0) }
    to { border-right: 0em }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}